@import "../variables";
@import "../mixins";

.toolbar {
  $_: '.toolbar';
  grid-area: toolbar;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;

  .button {
    @include button(green)
  }
}
