@import "./variables";

@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
    border-color: $color-border;
  }

  &:active,
  &.active {
    color: $color;
    border-color: $color;
    border-radius: 3px;
  }

  &:focus {
    outline: none;
  }
}

@mixin cell() {
  height: 100%;
  text-align: center;
  border-right: 1px solid $color-border-light;
  border-bottom: 1px solid $color-border-light;
}